<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123651934888-6k2gtpr1f6pu3nh6v28hmr19696otb9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123651934888-6k2gtpr1f6pu3nh6v28hmr19696otb9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCQTvs_vhxO2hDkVB8NWWI1-CmTa2MQnXc</string>
	<key>GCM_SENDER_ID</key>
	<string>123651934888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Elar.TitritShop</string>
	<key>PROJECT_ID</key>
	<string>titritapp</string>
	<key>STORAGE_BUCKET</key>
	<string>titritapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123651934888:ios:df0da5433f556ecf6a509d</string>
</dict>
</plist>